body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(137, 191, 229), rgb(162, 197, 249), #4d8fc5);
    background-size: 200% 200%;
    animation: bgShine 10s ease infinite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif sans-serif;
}
@keyframes bgShine {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.sidebar {
    position: fixed;
    width: 180px;
    height: 100%;
    background-color: #04084d;
    color: white;
    padding: 30px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
}

.sidebar a:hover {
    background-color: #575757;
    padding-left: 20px;
     color: #ffcc00;
    transform: scale(1.1);
}

.main {
    margin-left: 500px;
    padding: 20px;

}

.welcome-section {
    position: relative;   
}

.welcome {
    position: relative; 
    top: -10px;             
    left: 68px;            
    
    font-family: 'Times New Roman', Times, serif, serif;  
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    
    background: linear-gradient(90deg,navy,navy, #021d34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    -webkit-text-stroke: 1px rgba(0,0,0,0.3); 
    background-size: 200% 100%;
    animation: shineText 5s ease-in-out infinite;
}
.sub-welcome{
    position: relative;
    top: -27px;        
    left: 70px;     

    font-size: 16px;
    font-family: 'Times New Roman', Georgia, 'Times New Roman', Times, serif, serif;
    color: #444;
    letter-spacing: 1px;
}
@keyframes shineText {
    0% { background-position: 200% 0; }
    50% { background-position: 0% 0; }
    100% { background-position: 200% 0; }
}

.photo-wrapper {
    position: relative;
    width: 140px;   
    height: 180px;  
    top: -20px;
    right: -100px;  
    border-radius: 50% / 50%;  
    padding: 5px;  
    background: linear-gradient(45deg,  #3fa7fc,white, #04084d, #3fa7fc);
    background-size: 400% 400%;
    animation: shine 4s ease infinite;
}

.profile {
    width: 100%;
    height: 100%;
    border-radius: 50% / 50%;
    display: block;
}
@keyframes shine {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.social-icons {
    text-align: center;
    margin-left: -380px;
     margin-top: -130px;
   
      
}

.social-icons a {
    font-size: 20px;
    margin: 0 10px;
    color: navy;
    text-decoration: none;
     transition: color 0.4s ease;

}

.social-icons a:hover {
    color: blue;
}
.resume-btn {
    display: inline-block;
    margin-top: 150px;
    padding: 15px 20px;
    font-size: 8px;
    font-weight: 600;
    font-family: 'Playfair Display', serif; 
    color: white;
    background: navy  ;               
    border: 2px solid navy;           
    border-radius: 35px;                  
    text-decoration: none;
    position: relative;
    right: -120px;
    top: -140px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(255,106,0,0.4); 
    transition: 0.4s ease;
}


.resume-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 180%;
    height: 180%;
    background: rgba(6, 1, 15, 0.2); 
    transform: rotate(45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.resume-btn:hover::before {
    top: -30%;
    left: -30%;
    opacity: 1;
}


.resume-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(109, 58, 21, 0.5);
    color: #fff;
}

.contact-title {
    font-size: 55px; 
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;

    background: linear-gradient(90deg, navy, #3fa7fc, #00ffff, #3fa7fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    -webkit-text-stroke: 1px rgba(0,0,0,0.3);

    background-size: 200% 100%;
    animation: shineText 5s ease-in-out infinite;

    margin-bottom: 20px;
}

.contact-sub {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 30px;
}


@keyframes shineText {
    0% { background-position: 200% 0; }
    50% { background-position: 0% 0; }
    100% { background-position: 200% 0; }
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;  
    position: relative;
    left: -125px;
}


.contact-form input,
.contact-form textarea {
    padding: 12px 15px;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    color: white;
    font-size: 16px;
    outline: none;
    backdrop-filter: blur(6px);
    transition: 0.3s ease;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #3b3a3a;
    font-weight: 500;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #3fa7fc;
    box-shadow: 0 0 12px rgba(63,167,252,0.6);
}


.contact-form textarea {
    min-height: 120px;
    resize: none;
}


.contact-form button {
    padding: 12px 25px;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: white;
    background: linear-gradient(135deg,navy,navy);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(255,106,0,0.4);
    transition: 0.4s ease;
}

.contact-form button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(31, 19, 11, 0.6);
}
.contact-title {
    position: relative;   
    left: 50px;           
    font-size: 55px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    background: linear-gradient(90deg, navy, #0b3253, #010909, #3fa7fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    -webkit-text-stroke: 1px rgba(0,0,0,0.3);
    background-size: 200% 100%;
    animation: shineText 5s ease-in-out infinite;
}

.contact-sub {
    position: relative;   
    left: 140px;           
    font-size: 16px;
    color: #0e0202;
    margin-bottom: 30px;
}